<div id='game-grid-div' [style.width.px]="this.gridWidth" [style.height.px]="this.gridHeight" >
    <div class="grid-container">
        <app-cell-component class="board-cell grid-item" 
            *ngFor="let cell of this.cells" 
            [style.width.px]="this.cellWidth" 
            [style.height.px]="this.cellHeight"
            [style.background-color]="cell.getColour()"
            (click)="cell.clicked()"
            style="border: 1px solid black" >
        </app-cell-component>
    </div>


</div>