body{
    text-align:center;
    
    background: linear-gradient(rgb(65, 235, 170), rgb(78, 133, 236));
    min-height: -webkit-fill-available; 

    overflow: auto;
    
}

@-moz-document url-prefix() { 

    body{
        background: rgb(78, 133, 236);
    }

}



button:focus {outline:0;}


@media screen and (max-width: 1900px) and (min-width: 1600px) {
    body{
        zoom:1.15;
    }
}

@media screen and (min-width: 1900px){
    body{
        zoom:1.25;
    }
}
